h1,
p {
  text-align: center;
}

body {
  background-color: bisque;
}

img {
  display: block;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
  color: rgb(3, 3, 9);
}
.navigation {
  display: flex;
  justify-content: center;
}

.navigation-margin {
  margin: 30px;
}
